.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Saira Extra Condensed", "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, , "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  font-size: 60px;
  text-transform: uppercase;
}

.heading span {
  color: #bd5d38;
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icons .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons .icon:hover {
  background: coral;
}
.social-icons .icon .social-icon-svg {
  width: 24px;
  display: flex;
  height: 24px;
}
