@page "/education"

<div class="education-container">
    <h2 class="heading">Education </h2>

    @* education 1 *@
    <div class="education-item ">
        <div class="education-title">
            <div class="left">
                <h2>University of Colorado Boulder</h2>
            </div>
            <div class="right">
                <p>August 2006 - May 2010</p>
            </div>
        </div>
        <div class="education-subtitle">
            <p>Bachelor of Science</p>
        </div>
        <div class="education-description">
            <p>Computer Science - Web Development Track
            </p>
            <p>
                GPA: 3.23</p>
        </div>
    </div>
    @* end of education 1 *@
    @* education 2 *@
    <div class="education-item ">
        <div class="education-title">
            <div class="left">
                <h2>James Buchanan High School</h2>
            </div>
            <div class="right">
                <p>August 2002 - May 2006</p>
            </div>
        </div>
        <div class="education-subtitle">
            <p>Technology Magnet Program</p>
        </div>
        <div class="education-description">
            <p>GPA: 3.56</p>
        </div>
    </div>
    @* end of education 2 *@
</div>