@page "/experience"

<div class="experience-container">
    <h2 class="heading">Experience </h2>

    @* experience 1 *@
    <div class="experience-item ">
        <div class="experience-title">
            <div class="left">
                <h2>Senior Web Developer</h2>
            </div>
            <div class="right">
                <p>March 2013 - Present</p>
            </div>
        </div>
        <div class="experience-subtitle">
            <p>Intelitec Solutions</p>
        </div>
        <div class="experience-description">
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
                going forward, a new normal that has evolved from generation X is on the runway heading towards a
                streamlined cloud solution. User generated content in real-time will have multiple touchpoints for
                offshoring.</p>
        </div>
    </div>
    @* end of experience 1 *@
    @* experience 2 *@
    <div class="experience-item ">
        <div class="experience-title">
            <div class="left">
                <h2>SWeb Developer</h2>
            </div>
            <div class="right">
                <p>December 2011 - March 2013</p>
            </div>
        </div>
        <div class="experience-subtitle">
            <p>Intelitec Solutions</p>
        </div>
        <div class="experience-description">
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the
                digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                highway will close the loop on focusing solely on the bottom line.</p>
        </div>
    </div>
    @* end of experience 2 *@
    @* experience 3 *@
    <div class="experience-item ">
        <div class="experience-title">
            <div class="left">
                <h2>Junior Web Designer</h2>
            </div>
            <div class="right">
                <p>July 2010 - December 2011</p>
            </div>
        </div>
        <div class="experience-subtitle">
            <p>Shout! Media Productions</p>
        </div>
        <div class="experience-description">
            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless
                key performance indicators offline to maximise the long tail. Keeping your eye on the ball while
                performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
            </p>
        </div>
    </div>
    @* end of experience 3 *@
    @* experience 4 *@
    <div class="experience-item ">
        <div class="experience-title">
            <div class="left">
                <h2>Web Design Intern</h2>
            </div>
            <div class="right">
                <p>March 2013 - Present</p>
            </div>
        </div>
        <div class="experience-subtitle">
            <p>IShout! Media Productions</p>
        </div>
        <div class="experience-description">
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence without
                revolutionary ROI.</p>
        </div>
    </div>
    @* end of experience 4 *@
</div>